<div class="container text-left mt-3">
  <div class="row justify-content-center text-center">
    <div class="col-7 col-lg-12 col-md-4 col-xs-4 text-left pr-0 pl-2">
      <h5>
        <strong
          >{{ "Total" | translate }} <i class="fa fa-automobile"></i>
          {{ "found" | translate }}
          <span class="text-success">{{ pagination.totalItems }}</span></strong
        >
      </h5>
    </div>
    <div class="col-3 col-lg-3 col-md-3 col-sm-3 pr-1">
      <label class="text-success pl-0 pr-0" for="itemsPerPage"
        ><strong>{{ "carsOnPage" | translate }}</strong></label
      >
    </div>
    <div class="col-2 col-lg-3 col-md-3 col-sm-3 pl-0 pr-1">
      <select
        class="form-control pl-3 p-0"
        style="max-width: 90%; font-size: 14px !important; margin: 0 !important;"
        id="itemsPerPage"
        name="itemsPerPage"
        [(ngModel)]="pagination.itemsPerPage"
        (change)="loadCars()"
      >
        <option *ngFor="let item of CountList" [value]="item.value"
          >{{ item.display }}
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let car of cars" class="col-lg-2 col-md-3 col-sm-6">
      <app-car-card [car]="car" [isLiked]="true"></app-car-card>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
