<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="row justify-content-center text-center">
    <div class="col col-lg-8 col-md-8 col-xs-12">
      <h2 class="text-center text-success">{{ 'SignUp' | translate }}</h2>
    </div>
  </div>
  <hr />

  <div class="row justify-content-center text-center">
    <div class="col col-lg-8 col-md-8 col-xs-12">
      <div class="form-group">
        <input
          type="text"
          [ngClass]="{
            'is-invalid':
              registerForm.get('username').errors &&
              registerForm.get('username').touched
          }"
          class="form-control"
          formControlName="username"
          placeholder="{{ 'Username' | translate }}"
        />
        <div class="invalid-feedback">{{ 'UsernameRequired' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center text-center">
    <div class="col col-lg-8 col-md-8 col-xs-12">
      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid':
              registerForm.get('email').errors &&
              registerForm.get('email').touched
          }"
          type="email"
          class="form-control"
          placeholder="{{ 'Email' | translate }}"
          formControlName="email"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('email').touched &&
            registerForm.get('email').hasError('required')
          "
        >
          {{ 'EmailRequired' | translate }}
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('email').touched &&
            registerForm.get('email').hasError('email')
          "
        >
          {{ 'EmailValid' | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center text-center">
    <div class="col col-lg-8 col-md-8 col-xs-12">
      <div class="form-group">
        <input
          [ngClass]="{
            'is-invalid':
              registerForm.get('phoneNumber').errors &&
              registerForm.get('phoneNumber').touched
          }"
          type="number"
          class="form-control"
          placeholder="{{ 'PhoneNumber' | translate }}"
          formControlName="phoneNumber"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('phoneNumber').touched &&
            registerForm.get('phoneNumber').hasError('required')
          "
        >
          {{ 'PhoneNumberRequired' | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center text-center">
    <div class="col col-lg-8 col-md-8 col-xs-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          formControlName="dateBirth"
          bsDatepicker
          [bsConfig]="bsConfig"
          placement="top"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('dateBirth').touched &&
            registerForm.get('dateBirth').hasError('required')
          "
        >
          {{ 'DateBirthRequired' | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center text-center">
    <div class="col col-lg-8 col-md-8 col-xs-12">
      <div class="form-group">
        <input
          type="password"
          [ngClass]="{
            'is-invalid':
              registerForm.get('password').errors &&
              registerForm.get('password').touched
          }"
          class="form-control"
          formControlName="password"
          placeholder="{{ 'Password' | translate }}"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('password').hasError('required') &&
            registerForm.get('password').touched
          "
        >
          {{ 'PasswordRequired' | translate }}
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('password').hasError('minlength') &&
            registerForm.get('password').touched
          "
        >
          {{ 'PasswordMin' | translate }}
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('password').hasError('maxlength') &&
            registerForm.get('password').touched
          "
        >
          {{ 'PasswordMax' | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center text-center">
    <div class="col col-lg-8 col-md-8 col-xs-12">
      <div class="form-group">
        <input
          type="password"
          [ngClass]="{
            'is-invalid':
              (registerForm.get('confirmPassword').errors &&
                registerForm.get('confirmPassword').touched) ||
              (registerForm.get('confirmPassword').touched &&
                registerForm.hasError('mismatch'))
          }"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="{{ 'ConfirmPassword' | translate }}"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.get('confirmPassword').hasError('required') &&
            registerForm.get('confirmPassword').touched
          "
        >
          {{ 'ConfirmPasswordRequired' | translate }}
        </div>
        <div
          class="invalid-feedback"
          *ngIf="
            registerForm.hasError('mismatch') &&
            registerForm.get('confirmPassword').touched
          "
        >
          {{ 'ConfirmPasswordValid' | translate }}
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center text-center">
    <div class="col col-lg-8 col-md-8 col-xs-12">
      <div class="form-group text-center">
        <button
          class="btn btn-success"
          [disabled]="!registerForm.valid"
          type="submit"
        >
          <i class="fa fa-user-plus pr-2"></i>{{ 'Register' | translate }}
        </button>
        <button class="btn btn-default" type="button" (click)="cancel()">
          <i class="fa fa-ban pr-2"></i>
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
