<div class="card mb-4 mt-3">
  <div class="card-img-wrapper">
    <img
      src="{{ car.photoUrl || '../../../assets/car.png' }}"
      class="card-img-top"
      alt="{{ car.modelName }}"
    />
  </div>
  <div class="card-body p-2">
    <h6 class="card-title text-center mb-1">
      <i class="fa fa-car"></i> {{ car.brandName }} {{ car.modelName }}
      {{ car.year }}
    </h6>
    <p class="card-text text-muted text-center">{{ car.price }} $</p>
    <button class="btn btn-primary" [routerLink]="['/cars/', car.id]">
      <i class="fa fa-info-circle"></i> {{ 'Details' | translate }}
    </button>
  </div>
</div>
