<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4 text-center pb-2">
      <h2 class="text-success">{{ "YourCar" | translate }}</h2>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 pb-3">
      <div *ngIf="editingForm.dirty" class="alert alert-info">
        <strong>{{ "Information" | translate }}:</strong>
        {{ "Warning" | translate }}
      </div>
    </div>
  </div>

  <div class="row justify-content-center text-center">
    <div class="col col-lg-8 col-md-8 col-xs-12 pb-3">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ carPhotoUrl || '../../../../../assets/car.png' }}"
          alt="{{ car.modelName }}"
        />
        <div class="card-body mb-3 text-center">
          <div>
            <h2>{{ car.brandName }} {{ car.modelName }}</h2>
            <h4 class="text-success">
              {{ car.year }}
              <span class="tab-1 ml-3">{{ car.price }} $</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center text-center">
    <div class="col-12 col-lg-12 col-md-8 col-xs-12">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab class="mt-2"
            ><ng-template tabHeading
              ><i class="fa fa-info-circle pr-1"></i>
              {{ "EditCar" | translate }}</ng-template
            >
            <form [formGroup]="editingForm" (ngSubmit)="updateCar()">
              <div class="row form-group justify-content-center text-center">
                <div class="col col-lg-5 col-md-5 col-xs-4">
                  <h4 class="text-success">{{ "Brand" | translate }}</h4>
                </div>
                <div class="col col-lg-5 col-md-5 col-xs-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-automobile"></i
                      ></span>
                    </div>
                    <input
                      [ngClass]="{
                        'is-invalid':
                          editingForm.get('brandName').errors &&
                          editingForm.get('brandName').touched
                      }"
                      formControlName="brandName"
                      class="form-control"
                    />
                    <div class="invalid-feedback">
                      {{ "BrandRequired" | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-group justify-content-center text-center">
                <div class="col col-lg-5 col-md-5 col-xs-4">
                  <h4 class="text-success">{{ "Model" | translate }}</h4>
                </div>
                <div class="col col-lg-5 col-md-5 col-xs-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-automobile"></i
                      ></span>
                    </div>
                    <input
                      [ngClass]="{
                        'is-invalid':
                          editingForm.get('modelName').errors &&
                          editingForm.get('modelName').touched
                      }"
                      formControlName="modelName"
                      class="form-control"
                    />
                    <div class="invalid-feedback">
                      {{ "ModelRequired" | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-group justify-content-center text-center">
                <div class="col col-lg-5 col-md-5 col-xs-4">
                  <h4 class="text-success">{{ "Color" | translate }}</h4>
                </div>
                <div class="col col-lg-5 col-md-5 col-xs-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-paint-brush"></i
                      ></span>
                    </div>
                    <input
                      [ngClass]="{
                        'is-invalid':
                          editingForm.get('color').errors &&
                          editingForm.get('color').touched
                      }"
                      formControlName="color"
                      class="form-control"
                    />
                    <div class="invalid-feedback">
                      {{ "ColorRequired" | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-group justify-content-center text-center">
                <div class="col col-lg-5 col-md-5 col-xs-4">
                  <h4 class="text-success">{{ "Price" | translate }}</h4>
                </div>
                <div class="col col-lg-5 col-md-5 col-xs-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-dollar"></i
                      ></span>
                    </div>
                    <input
                      [ngClass]="{
                        'is-invalid':
                          editingForm.get('price').errors &&
                          editingForm.get('price').touched
                      }"
                      formControlName="price"
                      class="form-control"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        editingForm.get('price').hasError('required') &&
                        editingForm.get('price').touched
                      "
                    >
                      {{ "PriceRequired" | translate }}
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        editingForm.get('price').hasError('min') &&
                        editingForm.get('price').touched
                      "
                    >
                      {{ "MinPrice" | translate }}
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        editingForm.get('price').hasError('max') &&
                        editingForm.get('price').touched
                      "
                    >
                      {{ "MaxPrice" | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-group justify-content-center text-center">
                <div class="col col-lg-5 col-md-5 col-xs-4">
                  <h4 class="text-success">{{ "Year" | translate }}</h4>
                </div>
                <div class="col col-lg-5 col-md-5 col-xs-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-calendar"></i
                      ></span>
                    </div>
                    <input
                      [ngClass]="{
                        'is-invalid':
                          editingForm.get('year').errors &&
                          editingForm.get('year').touched
                      }"
                      type="number"
                      min="1905"
                      max="2019"
                      formControlName="year"
                      class="form-control"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        editingForm.get('year').hasError('required') &&
                        editingForm.get('year').touched
                      "
                    >
                      {{ "YearRequired" | translate }}
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        editingForm.get('year').hasError('min') &&
                        editingForm.get('year').touched
                      "
                    >
                      {{ "YearLess" | translate }}
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        editingForm.get('year').hasError('max') &&
                        editingForm.get('year').touched
                      "
                    >
                      {{ "YearGreater" | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-group justify-content-center text-center">
                <div class="col col-lg-5 col-md-5 col-xs-4">
                  <h4 class="text-success">{{ "EngPower" | translate }}</h4>
                </div>
                <div class="col col-lg-5 col-md-5 col-xs-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-cogs"></i
                      ></span>
                    </div>
                    <input
                      type="number"
                      [ngClass]="{
                        'is-invalid':
                          editingForm.get('enginePower').errors &&
                          editingForm.get('enginePower').touched
                      }"
                      step="0.1"
                      min="0.1"
                      max="12.0"
                      formControlName="enginePower"
                      class="form-control"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        editingForm.get('enginePower').hasError('min') &&
                        editingForm.get('enginePower').touched
                      "
                    >
                      {{ "EngMin" | translate }}
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        editingForm.get('enginePower').hasError('max') &&
                        editingForm.get('enginePower').touched
                      "
                    >
                      {{ "EngMax" | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-group justify-content-center text-center">
                <div class="col col-lg-3 col-md-3 col-xs-3">
                  <h4 class="text-success">{{ "State" | translate }}</h4>
                </div>
                <div class="col col-lg-4 col-md-4 col-xs-8">
                  <input type="checkbox" formControlName="isNew" />
                  <label class="mr-3 text-success pl-2" for="isNew">{{
                    "IsNew" | translate
                  }}</label>
                </div>
              </div>

              <div class="row form-group justify-content-center text-center">
                <div class="col col-lg-5 col-md-5 col-xs-3">
                  <h4 class="text-success">{{ "FuelType" | translate }}</h4>
                </div>
                <div class="col col-lg-5 col-md-5 col-xs-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-cogs"></i
                      ></span>
                    </div>
                    <select
                      class="form-control ml-1"
                      style="width: 100px; margin: 0 !important;"
                      id="fuel"
                      formControlName="fuel"
                    >
                      <option *ngFor="let fuel of FuelList" [value]="fuel.value"
                        >{{ fuel.display | translate }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row form-group justify-content-center text-center">
                <div class="col col-lg-5 col-md-5 col-xs-3">
                  <h4 class="text-success">{{ "BodyType" | translate }}</h4>
                </div>
                <div class="col col-lg-5 col-md-5 col-xs-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-cogs"></i
                      ></span>
                    </div>
                    <select
                      class="form-control ml-1"
                      style="width: 100px; margin: 0 !important;"
                      id="body"
                      formControlName="body"
                    >
                      <option *ngFor="let body of BodyList" [value]="body.value"
                        >{{ body.display | translate }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row form-group justify-content-center text-center">
                <div class="col col-lg-5 col-md-5 col-xs-4">
                  <h4 class="text-success">{{ "TransType" | translate }}</h4>
                </div>
                <div class="col col-lg-5 col-md-5 col-xs-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-cogs"></i
                      ></span>
                    </div>
                    <select
                      class="form-control ml-1 pl-1"
                      style="width: 100px; margin: 0 !important;"
                      id="transmission"
                      formControlName="transmission"
                    >
                      <option
                        *ngFor="let trans of TransmissionList"
                        [value]="trans.value"
                        >{{ trans.display | translate }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row form-group justify-content-center text-center">
                <div class="col col-lg-5 col-md-5 col-xs-3">
                  <h4 class="text-success">{{ "Drive" | translate }}</h4>
                </div>
                <div class="col col-lg-5 col-md-5 col-xs-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-cogs"></i
                      ></span>
                    </div>
                    <select
                      class="form-control ml-1"
                      style="width: 100px; margin: 0 !important;"
                      id="drive"
                      formControlName="drive"
                    >
                      <option
                        *ngFor="let drive of DriveList"
                        [value]="drive.value"
                        >{{ drive.display | translate }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row form-group justify-content-center text-center">
                <div class="col col-lg-5 col-md-5 col-xs-4">
                  <h4 class="text-success">{{ "Milleage" | translate }}</h4>
                </div>
                <div class="col col-lg-5 col-md-5 col-xs-8">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">{{
                        "km" | translate
                      }}</span>
                    </div>
                    <input
                      [ngClass]="{
                        'is-invalid':
                          editingForm.get('odometr').errors &&
                          editingForm.get('odometr').touched
                      }"
                      step="1000"
                      min="0"
                      max="1000000"
                      type="number"
                      formControlName="odometr"
                      class="form-control"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        editingForm.get('odometr').hasError('min') &&
                        editingForm.get('odometr').touched
                      "
                    >
                      {{ "MilleageMin" | translate }}
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="
                        editingForm.get('odometr').hasError('max') &&
                        editingForm.get('odometr').touched
                      "
                    >
                      {{ "MilleageMax" | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-group justify-content-center text-center">
                <div class="col-lg-5 col-md-5 col-xs-5">
                  <h4 class="text-success">{{ "Description" | translate }}</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-pencil"></i
                      ></span>
                    </div>
                    <textarea
                      type="text"
                      rows="5"
                      maxlength="100"
                      class="form-control"
                      formControlName="description"
                      placeholder="{{ 'Description' | translate }}"
                    ></textarea>
                  </div>
                </div>
              </div>

              <div class="form-group btn-group text-center">
                <button
                  [disabled]="!editingForm.valid"
                  [disabled]="!editingForm.dirty"
                  type="submit"
                  class="btn btn-success"
                >
                  <i class="fa fa-check-square-o mr-2"></i>
                  {{ "Save" | translate }}
                </button>
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="cancel()"
                >
                  <i class="fa fa-ban mr-2"></i>
                  {{ "Cancel" | translate }}
                </button>
              </div>
            </form>
          </tab>
          <tab class="mt-2"
            ><ng-template tabHeading
              ><i class="fa fa-camera-retro pr-1"></i>
              {{ "EditPhotos" | translate }}</ng-template
            >
            <app-carphoto-editor
              [photos]="car.photos"
              (getCarPhotoChange)="updateMainPhoto($event)"
            ></app-carphoto-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
