<div class="card">
  <div class="card-body p-1" id="comment">
    <div class="col text-center" *ngIf="messages?.length === 0">
      <p>{{ "NoMessages" | translate }}</p>
    </div>

    <ul class="chat">
      <li class="p-2" *ngFor="let message of messages">
        <div>
          <span class="chat-img float-left pr-2">
            <img
              src="{{ message?.senderPhotoUrl }}"
              class="img-circle rounded-circle mr-1"
            />
          </span>
          <div class="chat-body">
            <div class="header">
              <strong class="primary-font text-primary">{{
                message.senderKnownAs
              }}</strong>
              <small class="text-muted float-right pr-1">
                <span class="fa fa-clock-o text-success">
                  {{ message.messageSent | timeAgo }}</span
                >
              </small>
            </div>
            <p class="p-3">{{ message.content }}</p>
          </div>
          <div class="col text-right" *ngIf="message.senderId == userId">
            <button
              class="btn btn-primary btn-sm"
              (click)="$event.stopPropagation()"
              (click)="deleteMessage(message.id)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer" id="commentInput">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <input
          type="text"
          [(ngModel)]="newMessage.content"
          name="content"
          required
          class="form-control input-sm"
          placeholder="{{ 'CommentPlaceholder' | translate }}"
        />
        <div class="input-group-append">
          <button class="btn btn-success" [disabled]="!messageForm.valid">
            <i class="fa fa-comments mr-2"></i>{{ "Send" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
