
<form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <div class="row justify-content-center text-center">
      <div class="col col-lg-8 col-md-8 col-xs-12">
        <h2 class="text-center text-success pb-2">{{ "PasswordChange" | translate }}</h2>
      </div>
    </div>
  
    <div class="row justify-content-center text-center">
      <div class="col-5 col-lg-8 col-md-8 col-xs-12">
        <div class="form-group">
          <input
            type="password"
            [ngClass]="{
              'is-invalid':
              passwordForm.get('oldPassword').errors &&
              passwordForm.get('oldPassword').touched
            }"
            class="form-control"
            formControlName="oldPassword"
            placeholder="{{ 'OldPassword' | translate }}"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              passwordForm.get('oldPassword').hasError('required') &&
              passwordForm.get('oldPassword').touched
            "
          >
            {{ "PasswordRequired" | translate }}
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              passwordForm.get('oldPassword').hasError('minlength') &&
              passwordForm.get('oldPassword').touched
            "
          >
            {{ "PasswordMin" | translate }}
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              passwordForm.get('oldPassword').hasError('maxlength') &&
              passwordForm.get('oldPassword').touched
            "
          >
            {{ "PasswordMax" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center text-center">
        <div class="col-5 col-lg-8 col-md-8 col-xs-12">
          <div class="form-group">
            <input
              type="password"
              [ngClass]="{
                'is-invalid':
                (passwordForm.get('newPassword').errors &&
                passwordForm.get('newPassword').touched) ||
                (passwordForm.get('newPassword').touched &&
                passwordForm.hasError('mismatch'))
              }"
              class="form-control"
              formControlName="newPassword"
              placeholder="{{ 'NewPassword' | translate }}"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                passwordForm.get('newPassword').hasError('required') &&
                passwordForm.get('newPassword').touched
              "
            >
              {{ "PasswordRequired" | translate }}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="
                passwordForm.get('newPassword').hasError('minlength') &&
                passwordForm.get('newPassword').touched
              "
            >
              {{ "PasswordMin" | translate }}
            </div>
            <div
              class="invalid-feedback"
              *ngIf="
                passwordForm.get('newPassword').hasError('maxlength') &&
                passwordForm.get('newPassword').touched
              "
            >
              {{ "PasswordMax" | translate }}
            </div>
            <div
            class="invalid-feedback"
            *ngIf="
            passwordForm.hasError('mismatch') &&
            passwordForm.get('newPassword').touched
            "
          >
            {{ "ConfirmOldNew" | translate }}
          </div>
          </div>
        </div>
      </div>
  
    <div class="row justify-content-center text-center">
      <div class="col col-lg-8 col-md-8 col-xs-12">
        <div class="form-group text-center">
          <button
            class="btn btn-success"
            [disabled]="!passwordForm.valid"
            type="submit"
          >
            <i class="fa fa-user-plus pr-2"></i>{{ "Save" | translate }}
          </button>
          <button class="btn btn-primary ml-1" type="button" (click)="cancel()">
            <i class="fa fa-ban pr-2"></i>
            {{ "Cancel" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
