<div class="container mt-3">
  <div class="row justify-content-center">
    <h2 class="text-center text-success">
      <span class="text-primary"></span>{{ "Information" | translate }}
    </h2>

    <div class="col-sm-12">
      <form [formGroup]="addingForm" (ngSubmit)="addCar()">
        <div class="row justify-content-center">
          <div class="col-9 col-sm-12 col-md-9">
            <hr />
            <strong
              ><h4>{{ "RequiredFields" | translate }}:</h4></strong
            >

            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-car"></i
                  ></span>
                </div>
                <input
                  type="text"
                  [ngClass]="{
                    'is-invalid':
                      addingForm.get('brandName').errors &&
                      addingForm.get('brandName').touched
                  }"
                  class="form-control"
                  formControlName="brandName"
                  placeholder="{{ 'Brand' | translate }}"
                />
                <div class="invalid-feedback">
                  {{ "BrandRequired" | translate }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-car"></i
                  ></span>
                </div>
                <input
                  type="text"
                  [ngClass]="{
                    'is-invalid':
                      addingForm.get('modelName').errors &&
                      addingForm.get('modelName').touched
                  }"
                  class="form-control"
                  formControlName="modelName"
                  placeholder="{{ 'Model' | translate }}"
                />
                <div class="invalid-feedback">
                  {{ "ModelRequired" | translate }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-paint-brush"></i
                  ></span>
                </div>
                <input
                  type="text"
                  [ngClass]="{
                    'is-invalid':
                      addingForm.get('color').errors &&
                      addingForm.get('color').touched
                  }"
                  class="form-control"
                  formControlName="color"
                  placeholder="{{ 'Color' | translate }}"
                />
                <div class="invalid-feedback">
                  {{ "ColorRequired" | translate }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-dollar"></i
                  ></span>
                </div>
                <input
                  type="number"
                  [ngClass]="{
                    'is-invalid':
                      addingForm.get('price').errors &&
                      addingForm.get('price').touched
                  }"
                  class="form-control"
                  formControlName="price"
                  placeholder="{{ 'Price' | translate }}"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    addingForm.get('price').hasError('required') &&
                    addingForm.get('price').touched
                  "
                >
                  {{ "PriceRequired" | translate }}
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    addingForm.get('price').hasError('min') &&
                    addingForm.get('price').touched
                  "
                >
                  {{ "MinPrice" | translate }}
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    addingForm.get('price').hasError('max') &&
                    addingForm.get('price').touched
                  "
                >
                  {{ "MaxPrice" | translate }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-calendar"></i
                  ></span>
                </div>
                <input
                  type="number"
                  [ngClass]="{
                    'is-invalid':
                      addingForm.get('year').errors &&
                      addingForm.get('year').touched
                  }"
                  min="1905"
                  max="2019"
                  class="form-control"
                  formControlName="year"
                  placeholder="{{ 'Year' | translate }}"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    addingForm.get('year').hasError('required') &&
                    addingForm.get('year').touched
                  "
                >
                  {{ "YearRequired" | translate }}
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    addingForm.get('year').hasError('min') &&
                    addingForm.get('year').touched
                  "
                >
                  {{ "YearLess" | translate }}
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    addingForm.get('year').hasError('max') &&
                    addingForm.get('year').touched
                  "
                >
                  {{ "YearGreater" | translate }}
                </div>
              </div>
            </div>
            <hr />
            <strong
              ><h4>{{ "OptionalFields" | translate }}:</h4></strong
            >

            <div class="row justify-content-center text-center">
              <div class="col-4">
                <strong class="text-success">{{
                  "EngPower" | translate
                }}</strong>
              </div>
              <div class="form-group col-8">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"
                      ><i class="fa fa-wrench"></i
                    ></span>
                  </div>
                  <input
                    type="number"
                    [ngClass]="{
                      'is-invalid':
                        addingForm.get('enginePower').errors &&
                        addingForm.get('enginePower').touched
                    }"
                    step="0.1"
                    min="0.1"
                    max="12.0"
                    class="form-control"
                    formControlName="enginePower"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      addingForm.get('enginePower').hasError('min') &&
                      addingForm.get('enginePower').touched
                    "
                  >
                    {{ "EngMin" | translate }}
                  </div>
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      addingForm.get('enginePower').hasError('max') &&
                      addingForm.get('enginePower').touched
                    "
                  >
                    {{ "EngMax" | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center text-center">
              <div class="col-12">
                <div class="form-group ml-5">
                  <input type="checkbox" formControlName="isNew" />
                  <label class="mr-3 text-success pl-1" for="isNew">{{
                    "IsNew" | translate
                  }}</label>
                </div>
              </div>
            </div>

            <div class="row justify-content-center text-center">
              <div class="form-group col-4">
                <label class="text-success" for="body"
                  >{{ "BodyType" | translate }}
                </label>
              </div>
              <div class="col-8 input-group mb-3 pl-0 pr-0">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-cogs"></i
                  ></span>
                </div>
                <select
                  class="form-control ml-1"
                  style="max-width: 70%; margin: 0 !important;"
                  id="body"
                  formControlName="body"
                >
                  <option *ngFor="let body of BodyList" [value]="body.value"
                    >{{ body.display | translate }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row justify-content-center text-center">
              <div class="form-group col-4">
                <label class="text-success" for="fuel"
                  >{{ "FuelType" | translate }}
                </label>
              </div>
              <div class="col-8 input-group mb-3 pl-0 pr-0">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-cogs"></i
                  ></span>
                </div>
                <select
                  class="form-control ml-1"
                  style="max-width: 70%; margin: 0 !important;"
                  id="fuel"
                  formControlName="fuel"
                >
                  <option *ngFor="let fuel of FuelList" [value]="fuel.value"
                    >{{ fuel.display | translate }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row justify-content-center text-center">
              <div class="form-group col-4">
                <label class="text-success" for="fuel"
                  >{{ "TransType" | translate }}
                </label>
              </div>
              <div class="col-8 input-group mb-3 pl-0 pr-0">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-cogs"></i
                  ></span>
                </div>
                <select
                  class="form-control ml-1"
                  style="max-width: 70%; margin: 0 !important;"
                  id="transmission"
                  formControlName="transmission"
                >
                  <option
                    *ngFor="let transmission of TransmissionList"
                    [value]="transmission.value"
                    >{{ transmission.display | translate }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row justify-content-center text-center">
              <div class="form-group col-4">
                <label class="text-success" for="fuel"
                  >{{ "Drive" | translate }}
                </label>
              </div>
              <div class="col-8 input-group mb-3 pl-0 pr-0">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-cogs"></i
                  ></span>
                </div>
                <select
                  class="form-control ml-1"
                  style="max-width: 70%; margin: 0 !important;"
                  id="drive"
                  formControlName="drive"
                >
                  <option *ngFor="let drive of DriveList" [value]="drive.value"
                    >{{ drive.display | translate }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row justify-content-center text-center">
              <div class="form-group col-4">
                <strong class="text-success">{{
                  "Milleage" | translate
                }}</strong>
              </div>
              <div class="col-8 form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{
                      "km" | translate
                    }}</span>
                  </div>
                  <input
                    [ngClass]="{
                      'is-invalid':
                        addingForm.get('odometr').errors &&
                        addingForm.get('odometr').touched
                    }"
                    step="1000"
                    min="0"
                    max="1000000"
                    type="number"
                    class="form-control"
                    formControlName="odometr"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      addingForm.get('odometr').hasError('min') &&
                      addingForm.get('odometr').touched
                    "
                  >
                    {{ "MilleageMin" | translate }}
                  </div>
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      addingForm.get('odometr').hasError('max') &&
                      addingForm.get('odometr').touched
                    "
                  >
                    {{ "MilleageMax" | translate }}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="fa fa-pencil"></i
                  ></span>
                </div>
                <textarea
                  type="text"
                  rows="5"
                  maxlength="100"
                  class="form-control"
                  formControlName="description"
                  placeholder="{{ 'Description' | translate }}"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group text-center">
          <button
            class="btn btn-success"
            [disabled]="!addingForm.valid"
            type="submit"
          >
            <i class="fa fa-camera-retro mr-2"></i>
            {{ "Next" | translate }}
          </button>
          <button class="btn btn-primary" type="button" (click)="cancel()">
            <i class="fa fa-ban mr-2"></i>
            {{ "Cancel" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
